
@{
    ViewBag.Title = "AdminMenu";
}

<h1>Admin Menu</h1>
    <div class="icontable">
        <div class="icon">
            <a href="/Users/ManageUser">
                <img class="icon" src="~/Image_Icon/MyProfile.png" />
                <p class="iconText">Manage User</p>
            </a>
        </div>
        <div class="icon">
            <a href="/Menus/ManageMenu">
                <img class="icon" src="~/Image_Icon/FoodMenu.png" />
                <p class="iconText">Manage Menu</p>
            </a>
        </div>
        <div class="icon">
            <a href="/Tables/ManageTable">
                <img class="icon" src="~/Image_Icon/Table.png" />
                <p class="iconText">Manage Table</p>
            </a>
        </div>
    </div>