
@{
    ViewBag.Title = "CustomerMenu";
}

<h2>Customer Menu</h2>

<div class="icontable">
    <div class="icon">
        <a href="/CafeCustomer/MyProfile">
            <img class="icon" src="http://localhost:53884/Image_Icon/MyProfile.png" />
            <p class="iconText">My Profile</p>
        </a>
    </div>
    <div class="icon">
        <a href="/OrderFood/TableMenu">
            <img class="icon" src="http://localhost:53884/Image_Icon/FoodMenu.png" />
            <p class="iconText">Order Food</p>
        </a>
    </div>
</div>
